.button-incremento-decremento {
    border: none;
    background-color: $azul-terciario;
    color: $blanco;
    text-align: center;
    font-size: 20px;
}

.deleteItem {
    background-color: $blanco;
    border: none;
}

.labelCantidad {
    height: 20px;
    width: 20px;
    text-align: center;
}

.tabla-body {
    th {
        vertical-align: baseline;
    }
    td {
        vertical-align: baseline;
    }
}

