.button-incremento-decremento {
    border: none;
    background-color: $azul-terciario;
    color: $blanco;
    margin-left: 2px;
    margin-right: 2px;
    font-size: 20px;
}

.deleteItem {
    background-color: $blanco;
    border: none;
}

.labelCantidad {
    height: 20px;
    width: 20px;
    text-align: center;
}