%tamaño-de-imagenes-catalogo {
    width: 200px;
    height: 200px;
}

%transicion-catalogo {
    transition: 1s;
    transform: scale(1.2);
}

%tamano-imagen-card {
    width: 230px;
    height: 230px;
    display: block;
    margin: auto;
}
