%tamano-imagen-card {
    width: 230px;
    height: 230px;
    display: block;
    margin: auto;
}

%estilo-categorias {
    background-color: $azul-secundario;
    color: $blanco;
    font-weight: bold;
}