%tamano-imagen-card {
    width: 200px;
    height: 200px;
    display: block;
    margin: auto;
}

%estilo-categorias {
    background-color: $azul-terciario;
    color: $blanco;
    font-weight: bold;
}