.carousel-inner {
    img {
        width: 100%;
        height: 100%;
    }
}

.productos-populares {
    width: 130px;
    height: 130px;
}

.productos-populares:hover {
    @extend %transicion-catalogo;
}