.colorCategoria.nav-link.active {
    @extend %estilo-categorias;
}

a.colorCategoria.nav-link {
    color: black;
}

a.colorCategoria.nav-link:hover {
    color: black;
    background-color: #dff4f3;
}

.img-card {
    @extend %tamano-imagen-card;
}

.card-body {
    height: 150px;
}

.card-footer {
    border: none;
    background-color: #ffffff;
}