@import "inicio";
@import "seccion-tortas-e-insumos";
@import "variables";
@import "funciones";
@import "carritocompras";
@import "contactanos";

//PROPIEDADES GENERALES PARA TODAS LAS PÁGINAS

* {
    font-family: $fuente;
}

body {
    background-color: $blanco;
}

// HEADER

.logo {
    width: 300px;
}

.navbar {
    background-color: $azul-principal;
}

.nav-item:hover {
    background-color: $azul-terciario;
    text-decoration: none;
}

// MAIN

.colorTitulos {
    color: $azul-principal;
    text-align: center;
}

// FOOTER

footer {
    background-color: $azul-claro;
    margin-top: 40px;
    div {
        h4 {
            color: $azul-principal;
        }
    }
}

.info-adicional {
    list-style-type: disc;
    color: $azul-secundario;
    li {
        a {
            text-decoration: none;
            color: $negro;
            font-size: 14px;
        }
        a:hover {
            text-decoration: underline;
        }
    }
}

.imgRedesSociales {
    height: 30px;
    width: 30px;
}

.transport {
    width: 150px;
}